Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Bb]in
[Oo]bj
[Dd]ebug*/
[Rr]elease*/
!References/**/[Bb]in
*.sbr
_ReSharper*/
[Tt]est[Rr]esult*
*.base64.*
*.LOCAL.*
*.REMOTE.*
*.BASE.*
*.BACKUP.*
*.dotCover
**/Service\ References/**/*.disco
**/Service\ References/**/*.wsdl
**/Service\ References/**/*.xsd
**/Service\ References/**/*.svcinfo
**/Service\ References/**/*.datasource
Packages*/
MightyLittle.MQ.*/